### -[NOTE 20210402] -

## 一、 Data Input and Output
讀檔時要注意檔案路徑, 一般狀況下電腦顯示路徑都是`C:\data\example`, 但是`\`在python中代表Escape Character(逸出字元或逃脫字元), 所以並非是我們認知的`\`, 為了避免逸出字元(Escape Character)作用, 檔案路近中`\`時要寫做`\\`或`/` <br/>
資料在哪個位置，就要跟此資料放在同地方
#### Inpput
df=pd.read_csv(...) <br/>
df=pd.read_excel(...) 
#### Output
df.to_csv(...) <br/>
df.to_excel(...)

## 二、Merge, Join, Concatenate
1.left join <br/>
2.right join <br/>
3.inner join <br/>
4.outer join  <br/>

## 三、Script 爬蟲

收集網頁上的數據，反覆地複製、貼上的工作可以使用網路爬蟲的技術。一般而言，構成網頁最基本的要素是超文件標示語言。大都是建構在HTML之上。網路爬蟲的原理就是向遠端的伺服器送出請求，取得回應後伺服器會回傳HTML網頁，顯示在使用者的電腦上。

#### 檢視新聞標題在HTML的規則發現：
- 每個文章都被包覆在class = ‘xrnccd’的div物件中
- 整個文章點擊區塊連結: class = “VDXfz”
- 文章中的標題則是包覆在class為’h3’的物件中

* 從標題區塊list中, 找出< h3 >...< /h3 >標籤內的標題文字<br/>
使用迴圈將所有文章抓下來<br/>
title= `[t.find('h3').text for t in title]`
* 找出新聞標題所對應的新聞文章資料來源 <br/>
title= `[t.find('h3').text
`[requests.get(t.find('a')['href'].replace('.','網址',1)).url for t in title]`

### -[HW 20210402] -

1.[SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Follow along and complete the tasks

In [8]:
import numpy as np
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute 'compat' (most likely due to a circular import)

In [9]:
# C:\Users\PC\Desktop\MON\PYTHON\2021機器學習\作業\Salaries.csv
df = pd.read_csv("C:/Users/PC/Desktop/MON/PYTHON/2021機器學習/作業/Salaries.csv")
df

NameError: name 'pd' is not defined

**2. Check the head of DataFrame**

In [37]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**3. What is the average BasePay ?**

In [89]:
df['BasePay'].mean()

66325.44884050643

**4. What is the highest amount of OvertimePay in the dataset ?**

In [49]:
df['OvertimePay'].max()

245131.88

**5. (Hard) What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [3]:
df.groupby('Year')['BasePay'].mean()

NameError: name 'df' is not defined

**6. (Hard) How many unique job titles are there?**

In [77]:
df['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [86]:
df['JobTitle'].value_counts()

Transit Operator                                 7036
Special Nurse                                    4389
Registered Nurse                                 3736
Public Svc Aide-Public Works                     2518
Police Officer 3                                 2421
                                                 ...
ATTORNEY FOR THE PUBLIC ADMINISTRATOR               1
LEGISLATIVE ASSISTANT, CITY ATTORNEY'S OFFICE       1
CHIEF OF POLICE                                     1
Senior Maintenance Controller                       1
POWERHOUSE ELECTRICIAN SUPERVISOR II                1
Name: JobTitle, Length: 2159, dtype: int64

In [87]:
len(df['JobTitle'].value_counts())

2159